{
    "presets": [[ "@babel/preset-env", { "targets": { "ie": "10" } } ]],
    "plugins": [
        "@babel/plugin-transform-classes",
        "minify-mangle-names",
        "@babel/plugin-proposal-object-rest-spread",
        "babel-plugin-transform-es2015-parameters",
        "@babel/plugin-transform-spread",
        "@babel/plugin-transform-arrow-functions",
        "@babel/transform-runtime"
    ]
}