# Source code and dev scripts
src
__dev__
**/*.ts

# Babel plugins
.babelrc

# Generated typings
!dist/index.d.ts

# Benchmarks
benches

# Rollup
rollup.config.js

# TypeScript configuration
tsconfig.json

# Include license
!LICENSE